<?xml version="1.0"?>
<!--
  These are sample settings for the client-side consumption
  of the Membership, Profile, and Role provider proxies.
-->
<configuration>
  <system.web>
    <!-- 
      The normal applicationName parameter will be provided on 
      the host-side application configuration file and does
      not need to be provided here.
          
      The proxyProviderName parameter will match the provider
      name you wish to consume from the proxy host.
    -->
    <membership defaultProvider="WCFProxyMembershipProvider">
      <providers>
        <add name="WCFProxyMembershipProvider" 
             type="WCFProviderProxy.Web.ProxyMembershipProvider" 
             proxyProviderName="AspNetSqlMembershipProvider" />
      </providers>
    </membership>

    <profile defaultProvider="WCFProxyProfileProvider" enabled="true">
      <providers>
        <add name="WCFProxyProfileProvider" 
             type="WCFProviderProxy.Web.ProxyProfileProvider" 
             proxyProviderName="AspNetSqlProfileProvider" />
      </providers>
      <properties>
        <!--
          The profile properties must either be provided
          here in the client, or through the profile inherits
          parameter for using typed profile properties.
          
          These do not need to be duplicated on the host-side
          application configuration file.
        -->
      </properties>
    </profile>

    <roleManager defaultProvider="WCFProxyRoleProvider" enabled="true">
      <providers>
        <add name="WCFProxyRoleProvider" 
             type="WCFProviderProxy.Web.ProxyRoleProvider" 
             proxyProviderName="AspNetSqlRoleProvider" />
      </providers>
    </roleManager>
  </system.web>

  <!--
    These are the client WCF endpoints necessary to
    connect to the host proxy. The name and contract 
    parameters need to be as specified.
    
    Only those providers being implemented must be
    declared.
    
    The address and binding must match the implementation
    provided by your host application configuration.
  -->
  <system.serviceModel>
    <client>
      <endpoint
          name="RemoteMembershipProvider"
          address="net.tcp://localhost:9101/MembershipProvider"
          binding="netTcpBinding"
          contract="WCFProviderProxy.Interfaces.IWcfMembershipProvider" />
      <endpoint
          name="RemoteRoleProvider"
          address="net.tcp://localhost:9101/RoleProvider"
          binding="netTcpBinding"
          contract="WCFProviderProxy.Interfaces.IWcfRoleProvider" />
      <endpoint
          name="RemoteProfileProvider"
          address="net.tcp://localhost:9101/ProfileProvider"
          binding="netTcpBinding"
          contract="WCFProviderProxy.Interfaces.IWcfProfileProvider" />
    </client>
  </system.serviceModel>
</configuration>

